{# Блок скачивания клиентов и ссылок на инструкции #}
<section class="apps-block panel-block">
    <h2>Приложения и инструкции</h2>
    <div class="apps-platforms">
        <div class="apps-platform">
            <a href="/static/apps/hiddify-windows.zip" class="app-link" download>Скачать для Windows</a>
            <a href="/docs/windows" class="apps-platform__doc">Инструкция Windows</a>
        </div>
        <div class="apps-platform">
            <a href="/static/apps/hiddify-android.apk" class="app-link" download>Скачать для Android</a>
            <a href="/docs/android" class="apps-platform__doc">Инструкция Android</a>
        </div>
        <div class="apps-platform">
            <a href="/static/apps/streisand-ios.txt" class="app-link" download>iPhone (Streisand)</a>
            <a href="/docs/ios" class="apps-platform__doc">Инструкция iPhone</a>
        </div>
    </div>
</section>
